<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"/>

    <bean id="myPr1"
          class="com.artemvasin.Products">
        <property name="name" value="${pr1.name}" />
        <property name="weight" value="${pr1.weight}" />
        <property name="category" value="${pr1.category}" />
    </bean>

    <bean id="myPr2"
          class="com.artemvasin.Products">
        <property name="name" value="${pr2.name}" />
        <property name="weight" value="${pr2.weight}" />
        <property name="category" value="${pr2.category}" />

    </bean>
    <bean id="myPr3"
          class="com.artemvasin.Products">
        <property name="name" value="${pr3.name}" />
        <property name="weight" value="${pr3.weight}" />
        <property name="category" value="${pr3.category}" />

    </bean>

<!--    <bean id="myShop"-->
<!--          class="com.artemvasin.Shop">-->
<!--&lt;!&ndash;        <property name="pr1" ref="myProducts"/>&ndash;&gt;-->




<!--    </bean>-->
</beans>